$navbar_ml: 45px;

header.site-navbar {
	position: absolute;
	width: auto;
	z-index: 2;
	background-color: transparent;

	.navbar {
		padding: 23px 160px 23px 160px;
	}
}

.navbar-collapse {
	> div.section-menu-socialnetworks {
		display: none;
	}
	img.logo-misterio {
		display: none;
	}
	.navbar-nav {
		a {
			color: $white;
			font-family: URWGothicL;
			font-size: 16.5px;
			font-weight: normal;
			font-stretch: normal;
			font-style: normal;
			line-height: 1;
			letter-spacing: 0.39px;
			&:hover {
				font-weight: 500;
			}
		}
	}
}

// mobile menu
@media only screen and (max-width: 992px) {
	.navbar-collapse {
		width: 320px;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 2000;
		background-color: $grey_dark;
		height: calc(100vh) !important;
		padding-right: 45px;
		transform: translateX(-110%);
		box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
		transition: 0.3s all ease-in-out;

		&.show {
			transform: translateX(0%);
		}

		.navbar-close {
			margin: 35px 0;
			margin-left: $navbar_ml;
			display: inline-block;
		}
		> div.section-menu {
			.navbar-nav {
				margin-left: $navbar_ml;
				border-top: solid 1px #fff;
				padding: 20px 0;
				.menu-item {
					margin-bottom: 25px;
				}
			}
		}
		> div.section-menu-socialnetworks {
			display: block;

			.navbar-nav {
				min-width: 90px;
				max-width: 94px;
				height: 24px;
				margin-left: 45px;
				padding: 0;
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				.menu-item {
					height: 24px;
					width: 24px;
					a {
						font-size: 0;
						&:before {
							content: '';
							background-repeat: no-repeat;
							background-size: 24px;
							background-position-x: 0px;
							background-position-y: 0px;
							padding: 13px;
						}
						&[href*='facebook']:before {
							background-image: url(../images/icon-menu-facebook-x32.png);
						}
						&[href*='twitter']:before {
							background-image: url(../images/icon-menu-twitter-x32.png);
						}
					}
				}
			}
		}

		img.logo-misterio {
			display: block;
			margin: 34px 0;
			margin-left: $navbar_ml;
		}
	}
}
